<div class="container center ">
    <div class="row">
    <div class="card-panel teal lighten-2">
        <a class="  btn red accent-4" href="/users/register">Register</a>
        <a class="  btn light-blue darken-3" href="/users/login">Login</a>
        </div>
</div>    
</div>